In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import sklearn
import math
%matplotlib inline
import matplotlib as plt

In [3]:
positive = pd.read_csv("data_new/g_quad_AAAA_unique_noSSE2.bed", delimiter="\t", names=["chr", "start", "end",
                                                                                     "seq", "col", "strand"])
positive.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>chr</th>
      <th>start</th>
      <th>end</th>
      <th>seq</th>
      <th>col</th>
      <th>strand</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>chr1</td>
      <td>835046</td>
      <td>835069</td>
      <td>CCCTCTCCCTTGCCTCCCTCCCC</td>
      <td>1111</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td>chr1</td>
      <td>876250</td>
      <td>876281</td>
      <td>CCCACACTCGCCCACACTCCCCCACACTCCC</td>
      <td>1111</td>
      <td>-</td>
    </tr>
    <tr>
      <th>2</th>
      <td>chr1</td>
      <td>902899</td>
      <td>902925</td>
      <td>GGGGACGAGGGGGCCCGGGATGCGGG</td>
      <td>1111</td>
      <td>+</td>
    </tr>
    <tr>
      <th>3</th>
      <td>chr1</td>
      <td>904022</td>
      <td>904047</td>
      <td>CCCCTGCAGACCCTGTGCCCAGCCC</td>
      <td>1111</td>
      <td>-</td>
    </tr>
    <tr>
      <th>4</th>
      <td>chr1</td>
      <td>904114</td>
      <td>904140</td>
      <td>GGGAGGCCTGGGGCGGAGGGCCGGGG</td>
      <td>1111</td>
      <td>+</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
wrong_index = []

def test_data(df):
    def test(row):
        if row["end"] - row["start"] != len(row["seq"]):
            wrong_index.append(row.name)
            
    df.apply(lambda row: test)

In [5]:
test_data(positive)

In [8]:
len(wrong_index)

0

In [9]:
negative = pd.read_csv("data_new/g_quad_NovaSeq_SSEs_50bp_clean2.bed", delimiter="\t", names=["chr", "start", "end",
                                                                                     "seq", "col", "strand"])
negative.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>chr</th>
      <th>start</th>
      <th>end</th>
      <th>seq</th>
      <th>col</th>
      <th>strand</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>chr1</td>
      <td>955891</td>
      <td>955916</td>
      <td>CCCTACCCCCCTTCACCCCCTCCCC</td>
      <td>1111</td>
      <td>-</td>
    </tr>
    <tr>
      <th>1</th>
      <td>chr1</td>
      <td>984237</td>
      <td>984268</td>
      <td>GGGCCTGGGGGGCAAGTCGGGGGGCGGGGGG</td>
      <td>1111</td>
      <td>+</td>
    </tr>
    <tr>
      <th>2</th>
      <td>chr1</td>
      <td>984273</td>
      <td>984299</td>
      <td>GGGCAGGGTCCCCTGGGAGGATGGGG</td>
      <td>1111</td>
      <td>+</td>
    </tr>
    <tr>
      <th>3</th>
      <td>chr1</td>
      <td>1035169</td>
      <td>1035192</td>
      <td>GGGGGGGGGGGGGTGGGCAGGGG</td>
      <td>1111</td>
      <td>+</td>
    </tr>
    <tr>
      <th>4</th>
      <td>chr1</td>
      <td>1035208</td>
      <td>1035229</td>
      <td>GGGCAAAGGGATGGGACAGGG</td>
      <td>1111</td>
      <td>+</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
test_data(negative)

In [11]:
len(wrong_index)

0

In [12]:
bases = dict(zip("ACGTN", [[1,0,0,0,0],[0,1,0,0,0],[0,0,1,0,0],[0,0,0,1,0],[0,0,0,0,1]]))
bases

{'A': [1, 0, 0, 0, 0],
 'C': [0, 1, 0, 0, 0],
 'G': [0, 0, 1, 0, 0],
 'T': [0, 0, 0, 1, 0],
 'N': [0, 0, 0, 0, 1]}

In [13]:
def transform(df):
    values = []
    
    def encode(row):
        result = []
        for base in row:
            result.append(bases[base])
            
        values.append(result)
        
    df["seq_new"].apply(encode)
    
    return values

In [14]:
def get_window_start(row):
    seq = row["seq"]
    length = len(seq)
    result = row["start"] - 50
    middle = length // 2
    result += middle
    return result


def get_window_end(row):
    seq = row["seq"]
    length = len(seq)
    result = row["end"] + 50
    middle = length / 2
    if length % 2 == 0:
        result -= middle
    else:
        result -= math.ceil(middle)  
    return int(result)
    
    
def get_ranges(df):
        
    df["start_new"] = df.apply(get_window_start, axis=1)
    df["end_new"] = df.apply(get_window_end, axis=1)
    
    return df

In [15]:
positive_good_data_with_ranges = get_ranges(positive)
positive_good_data_with_ranges.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>chr</th>
      <th>start</th>
      <th>end</th>
      <th>seq</th>
      <th>col</th>
      <th>strand</th>
      <th>start_new</th>
      <th>end_new</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>chr1</td>
      <td>835046</td>
      <td>835069</td>
      <td>CCCTCTCCCTTGCCTCCCTCCCC</td>
      <td>1111</td>
      <td>-</td>
      <td>834857</td>
      <td>835257</td>
    </tr>
    <tr>
      <th>1</th>
      <td>chr1</td>
      <td>876250</td>
      <td>876281</td>
      <td>CCCACACTCGCCCACACTCCCCCACACTCCC</td>
      <td>1111</td>
      <td>-</td>
      <td>876065</td>
      <td>876465</td>
    </tr>
    <tr>
      <th>2</th>
      <td>chr1</td>
      <td>902899</td>
      <td>902925</td>
      <td>GGGGACGAGGGGGCCCGGGATGCGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>902712</td>
      <td>903112</td>
    </tr>
    <tr>
      <th>3</th>
      <td>chr1</td>
      <td>904022</td>
      <td>904047</td>
      <td>CCCCTGCAGACCCTGTGCCCAGCCC</td>
      <td>1111</td>
      <td>-</td>
      <td>903834</td>
      <td>904234</td>
    </tr>
    <tr>
      <th>4</th>
      <td>chr1</td>
      <td>904114</td>
      <td>904140</td>
      <td>GGGAGGCCTGGGGCGGAGGGCCGGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>903927</td>
      <td>904327</td>
    </tr>
  </tbody>
</table>
</div>

In [16]:
negative_good_data_with_ranges = get_ranges(negative)
negative_good_data_with_ranges.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>chr</th>
      <th>start</th>
      <th>end</th>
      <th>seq</th>
      <th>col</th>
      <th>strand</th>
      <th>start_new</th>
      <th>end_new</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>chr1</td>
      <td>955891</td>
      <td>955916</td>
      <td>CCCTACCCCCCTTCACCCCCTCCCC</td>
      <td>1111</td>
      <td>-</td>
      <td>955703</td>
      <td>956103</td>
    </tr>
    <tr>
      <th>1</th>
      <td>chr1</td>
      <td>984237</td>
      <td>984268</td>
      <td>GGGCCTGGGGGGCAAGTCGGGGGGCGGGGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>984052</td>
      <td>984452</td>
    </tr>
    <tr>
      <th>2</th>
      <td>chr1</td>
      <td>984273</td>
      <td>984299</td>
      <td>GGGCAGGGTCCCCTGGGAGGATGGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>984086</td>
      <td>984486</td>
    </tr>
    <tr>
      <th>3</th>
      <td>chr1</td>
      <td>1035169</td>
      <td>1035192</td>
      <td>GGGGGGGGGGGGGTGGGCAGGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>1034980</td>
      <td>1035380</td>
    </tr>
    <tr>
      <th>4</th>
      <td>chr1</td>
      <td>1035208</td>
      <td>1035229</td>
      <td>GGGCAAAGGGATGGGACAGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>1035018</td>
      <td>1035418</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
def check_data_consistent(df):
    all_good = True
    
    def check(row):
        nonlocal all_good 
        if (row["end_new"] - row["start_new"]) != 400:
            all_good = False
            print("{} is not ok".format(row.name))
    
    df.apply(check, axis=1)
    
    if all_good:
        print("all good")
    else:
        print("wrong data")

In [18]:
check_data_consistent(negative_good_data_with_ranges)

all good

In [19]:
check_data_consistent(positive_good_data_with_ranges)

all good

In [20]:
from Bio.Seq import Seq
from Bio import SeqIO


records = list(SeqIO.parse("./data/genome.fa", "fasta"))
len(records)

2580

In [21]:
def add_new_seq(df):
    def new_seq(row):
        return str(records[0].seq[row["start_new"]: row["end_new"]])
        
    df["seq_new"] = df.apply(new_seq, axis=1)
    
    return df

In [22]:
negative_with_seq = add_new_seq(negative_good_data_with_ranges)
negative_with_seq.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>chr</th>
      <th>start</th>
      <th>end</th>
      <th>seq</th>
      <th>col</th>
      <th>strand</th>
      <th>start_new</th>
      <th>end_new</th>
      <th>seq_new</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>chr1</td>
      <td>955891</td>
      <td>955916</td>
      <td>CCCTACCCCCCTTCACCCCCTCCCC</td>
      <td>1111</td>
      <td>-</td>
      <td>955703</td>
      <td>956103</td>
      <td>TCCCTTTTCAGGAAGGAAAGAAGGTGGGGCCGCTCCAACTGGCCCC...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>chr1</td>
      <td>984237</td>
      <td>984268</td>
      <td>GGGCCTGGGGGGCAAGTCGGGGGGCGGGGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>984052</td>
      <td>984452</td>
      <td>TGGAGTTGGCCTGAGGCTTCAGGGGAAGCCCTTCCCTGTATCCAGC...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>chr1</td>
      <td>984273</td>
      <td>984299</td>
      <td>GGGCAGGGTCCCCTGGGAGGATGGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>984086</td>
      <td>984486</td>
      <td>CCTGTATCCAGCCCAGTCATGACCCTTCCTGGTGGGAGGGTGGCTG...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>chr1</td>
      <td>1035169</td>
      <td>1035192</td>
      <td>GGGGGGGGGGGGGTGGGCAGGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>1034980</td>
      <td>1035380</td>
      <td>GCGGTGGACTCTTCCAGGGAAGGGGGTCCTGCCTGCACCCCTGTGG...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>chr1</td>
      <td>1035208</td>
      <td>1035229</td>
      <td>GGGCAAAGGGATGGGACAGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>1035018</td>
      <td>1035418</td>
      <td>CCCTGTGGCTGGGGCCCCATCTGACAGGGGTCAGGCCATGACTATT...</td>
    </tr>
  </tbody>
</table>
</div>

In [23]:
positive_with_seq = add_new_seq(positive_good_data_with_ranges)
positive_with_seq.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>chr</th>
      <th>start</th>
      <th>end</th>
      <th>seq</th>
      <th>col</th>
      <th>strand</th>
      <th>start_new</th>
      <th>end_new</th>
      <th>seq_new</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>chr1</td>
      <td>835046</td>
      <td>835069</td>
      <td>CCCTCTCCCTTGCCTCCCTCCCC</td>
      <td>1111</td>
      <td>-</td>
      <td>834857</td>
      <td>835257</td>
      <td>ATAACTAGATATACGAGTTTAAATAATTTTGTCAGAAACTGTTTCT...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>chr1</td>
      <td>876250</td>
      <td>876281</td>
      <td>CCCACACTCGCCCACACTCCCCCACACTCCC</td>
      <td>1111</td>
      <td>-</td>
      <td>876065</td>
      <td>876465</td>
      <td>CCCCACACTCCCCCATACTCGCCCACACTCCCCCACACCCCACACT...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>chr1</td>
      <td>902899</td>
      <td>902925</td>
      <td>GGGGACGAGGGGGCCCGGGATGCGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>902712</td>
      <td>903112</td>
      <td>GCAGTGAGCCGAGATCGCGCCATTGCACCCAGCCTGGGCAACCAGA...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>chr1</td>
      <td>904022</td>
      <td>904047</td>
      <td>CCCCTGCAGACCCTGTGCCCAGCCC</td>
      <td>1111</td>
      <td>-</td>
      <td>903834</td>
      <td>904234</td>
      <td>GGCCCTGAGGCTGGGCAAGGCTGTCCACCCCGCTGTCAGAACCCCA...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>chr1</td>
      <td>904114</td>
      <td>904140</td>
      <td>GGGAGGCCTGGGGCGGAGGGCCGGGG</td>
      <td>1111</td>
      <td>+</td>
      <td>903927</td>
      <td>904327</td>
      <td>CCAGCGGGCACAAGGTTGGGGCAGCTCTGTTCCCAGCAGGCCGAGC...</td>
    </tr>
  </tbody>
</table>
</div>

In [24]:
negative_with_seq.to_csv("./data_new/negative_examples.csv")
positive_with_seq.to_csv("./data_new/positive_examples.csv")